@import '../../styles/mixins';
.thankyou-page{
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    @include respond-until(sm) {
        padding-top: 70px;
    }
}

.thankyou-wrapper{
    margin-top: 35px;
    @include respond-until(sm) {
        margin-top: 35px;
    }
    .check-sign{
        svg{
            font-size: 50px;
            border: 5px solid #8fc54c;
            fill: #8fc54c;
            width: 100px;
            height: 100px;
            padding: 20px;
            border-radius: 50%;
            box-shadow: 0 0 40px #3333331a;
        }
    }

    .thankyou-title {
        margin: 1.1em 0 0.6em;
        @include respond-until(sm) {
            margin: 1em 0 0.6em;
        }
        h2 {
            font-size: 5em;
            @include respond-until(sm) {
                font-size: 2.8em;
            }
        }
    }

    .thankyou-subtitle{
        p{
            font-size: 18px;
            color: #000;
            font-weight: 500;
            line-height: 25px;
            @include respond-until(sm) {
                font-size: 16px;
            }
        }
    }
    .thankyou-desc{
        p{
            font-size: 18px;
            color: #000;
            font-weight: 500;
            line-height: 25px;
            @include respond-until(sm) {
                font-size: 16px;
            }
        a{
            font-weight: 500;
        }
        }
        .custom-redirect-content{
            border-top: 2px solid #8fc54c;
            padding-top: 20px;
        }
    }
}
