@import "../../styles/mixins";

.top-to-btm{
    position: relative;
    display: none;
    @include respond-until(sm) {
      display: block;
    }
    .icon-position{
        position: fixed;
        bottom: 40px;
        right: 25px;
        z-index: 1;
        background-color: #000000;
        border: 2px solid #fff;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        color: #fff;
        cursor: pointer;
        animation: movebtn 3s ease-in-out infinite;
        transition: all .5s ease-in-out;
        @include respond-until(sm) {
          bottom: 70px;
          width: 40px;
          height: 40px;
          right: 20px;
        }
        &:hover{
          animation: none;
          background: #fff;
          color: #000000;
          border: 2px solid #4dc0ea;
      }
    }   
}
  
@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
}